---
import Container from "@components/container.astro"
import {
    Basketball,
    Guitar,
    Theatre
} from "@components/ui/icons"
import { Icon } from "astro-icon/components"
// sports, concerts, conferences
---

<div class="flex bg-mingo-green border-b border-mingo-lime">

    <Container>

        <div class="flex h-20 bg-mingo-green items-center justify-center">
            <div class="grid grid-flow-col auto-cols-max gap-40">

                <div class="flex flex-col items-center justify-center">
                    <Guitar class="text-green w-5 h-5" />
                    <p class="text-black text-xs font-medium font-body uppercase">Concerts</p>
                </div> 

                <div class="flex flex-col items-center justify-center">
                    <Basketball class="text-green w-5 h-5" />
                    <p class="text-black text-xs font-medium font-body uppercase">Sports</p>
                </div> 

                <div class="flex flex-col items-center justify-center">
                    <Theatre class="text-green w-5 h-5" />
                    <p class="text-black text-xs font-medium font-body uppercase">Conferences</p>
                </div> 

            </div>
        </div>

    </Container>    

</div>