---
import { Picture } from "astro:assets";
import heroImage from "assets/hero.png";
import trees from "assets/trees.png";
import Button from "@components/ui/button.astro";
import { Icon } from "astro-icon/components";
import Container from "./container.astro";
---

<main
  class="flex bg-black bg-hero-bg bg-cover bg-bottom bg-no-repeat"
>

  <Container>

    <!-- col 1 -->
    <div class="flex flex-col place-content-center md:p-20 p-8 md:w-1/2 w-full">
      <p
        class="text-mingo-text text-sm font-medium font-body tracking-widest uppercase"
      >the web3 ticketing solution</p>
      <h1
        class="text-5xl text-white text-transform font-display lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
        MINGO<br/>TICKETS
      </h1>
      <p class="text-lg mt-4 text-mingo-text font-body max-w-xl">
        Transform your event experience with MINGO Ticket. Buy, store, and manage NFT-based tickets on one secure platform. Effortlessly transfer or trade your tickets with unparalleled ease and security.
      </p>
      <div class="mt-6 flex flex-col sm:flex-row gap-3">
        <Button
          style="primary"
          size="lg"
          class="flex gap-1 items-center justify-center"
        >
          Install App
          <Icon class="text-white w-5 h-5" name="bx:down-arrow-circle" />
        </Button>
        <Button
          style="outline"
          size="lg"
          class="flex gap-1 items-center justify-center"
        >
          View Features
        </Button>
      </div>
    </div>
    
    <!-- col 2 -->
    <div class="sm:flex flex-col place-content-center hidden p-20">
      <Picture
        src={heroImage}
        alt="Astronaut in the air"
        widths={[200, 400, 600]}
        sizes="(max-width: 800px) 100vw, 620px"
        loading="eager"
        format="avif"
      />
    </div>

  </Container>

</main>
