---
import Link from "./ui/link.astro";
import { Picture } from "astro:assets";
import birdWire from "assets/bird-wire.png"
import phones from "assets/phones.png"
import Button from "@components/ui/button.astro";

---

<div
  class="bg-mingo-grey mt-20 mx-12 rounded-lg flex flex-row items-center text-center">

    <!-- col 1 -->
    <div class="flex flex-col w-1/2 p-20 text-left gap-6 place-content-center">
      <h2 class="font-extrabold text-3xl text-white">
        Keep up with the latest
      </h2>
      <p class="text-white">
        Subscribe to our newsletter to get the latest news.
      </p>
    </div>

    <!-- col 2 -->
    <div class="flex flex-col w-1/2 px-20 place-content-center text-left">
      <p class="text-white ">
        Subscribe to our newsletter
      </p>

      <!-- Form -->
      <form action="" class="mx-auto flex md:w-full flex-col gap-3 sm:flex-row">
        <input type="email" name="email" id="email" class="w-3/4 grow rounded-lg py-3 px-5 placeholder:text-black/30" placeholder="Enter your email" />
        <button type="submit" class="w-1/4 bg-mingo-green rounded-lg text-sm text-white">Sign up</button>
      </form>

    </div>

</div>
