---
import Link from "./ui/link.astro";
import { Picture } from "astro:assets";
import birdWire from "assets/bird-wire.png"
import phones from "assets/phones.png"
import Button from "@components/ui/button.astro";

---

<div
  class="bg-mingo-grey md:mt-20 mt-8 md:mx-12 mx-6 rounded-lg flex  text-center">

  <div class="flex max-w-7xl mx-auto md:flex-row flex-col">

    <!-- col 1 -->
    <div class="flex flex-col md:w-1/2 md:p-20 p-10 max-sm:pb-0 text-left gap-6 place-content-center">
      <h2 class="font-extrabold text-3xl text-white">
        Keep up with the latest
      </h2>
      <p class="text-white">
        Subscribe to our newsletter to get the latest news.
      </p>
    </div>

    <!-- col 2 -->
    <div class="flex flex-col md:w-1/2 w-full md:px-20 max-sm:p-10 pt-0 place-content-center text-left">
      <p class="text-white ">
        Subscribe to our newsletter
      </p>

      <!-- Form -->
      <form action="" class="flex flex-col md:flex-row md:w-full gap-3">
        <input type="email" name="email" id="email" class="md:w-2/3 grow rounded-lg py-3 px-5 placeholder:text-black/30" placeholder="Enter your email" />
        <button type="submit" class="md:w-1/3 bg-mingo-green rounded-lg text-sm text-white py-3">Sign up</button>
      </form>

    </div>

    </div>

</div>
